
/static/pages/*
npm-debug.log
/dist
.idea/workspace.xml
.idea/vcs.xml
.idea/preferred-vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/SiteReactTakebus.iml
.idea/
.vscode/launch.json


!node_modules/

node_modules/*

!node_modules/material-ui/

node_modules/material-ui/*

!node_modules/material-ui/AutoComplete/
