.route-page__body {
    display: flex;
    background: #f1f0f0;
}

.route-page__body_sub {
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.route-page__body > div {
    display: flex;
    overflow-x: hidden;
}

.route-page__body-main {
    width: 75%;
    min-height: calc(100vh - 240px);
    position: relative;
    box-sizing: border-box;
    padding: 0 15px 0 31px;
}

.route-page__body-main h2 {
    font-weight: normal;
    margin: 40px 0;
}

.route-page__body_sub .route-page__body-main {
    min-height: 300px;
}

.route-page__body-side {
    width: 25%;
    box-sizing: border-box;
    padding: 30px 20px 0 15px;
}
.container.flex-container{
    width: 100%;
}
.sheme-main__wrap-row-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.sheme-main__wrap-row-column>div{
    text-align: center;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}/*
.sheme-main__wrap-row-column>div.enable-seat{
    background-color: green;
}
.sheme-main__wrap-row-column>div.disable-seat{
    background-color: red;
}*/
.sheme-main__wrap-row-column-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.sheme-main__wrap-row-column-center>div{
    text-align: center;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 36px !important;
    box-sizing: border-box;
}
/*.sheme-main__wrap-row-column-center>div.enable-seat{
    background-color: green;
}
.sheme-main__wrap-row-column-center>div.disable-seat{
    background-color: red;
}*/
/*
.route-header {
    height: 200px;
    background: #ccc;
    background-image: url('../../assets/img/back_bus.jpg');
    background-position: 0 -470px;
    background-size: cover;
}*/

.route-page__body-feed {
    padding-left: 15px;
    padding-right: 20px;
    position: relative;
    filter: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    min-height: 100%;
}

.route-page__body-feed_fetching {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.route-page__body-feed__loader {
    position: absolute;
    left: 15px;
    right: 15px;
    text-align: center;
    top: 53px;
    background: rgba(255,255,255,0.6);
    padding-top: 140px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    min-height: 180px;
}

.route-page__body-feed__card-holder {
    padding-top: 63px;
    padding-bottom: 62px;
    text-align: center;
    display: block;
    font-size: 26px;
    font-weight: 300;
    width: 100%;
}
.sheme-main__wrap-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.route-page__body-feed__card {
    background: #fff;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.route-page__body-feed__card:last-child {
    margin-bottom: 20px;
}

.card-main {
    width: 100%;
    padding: 0 15px 0 0;

    display: flex;
    align-items: center;
}

.card-main .city-name {
    font-weight: 700;
    font-size: 19px;
    display: block;
    line-height: 19px;
}

.card-main .station-name {
    font-size: 11px;
    display: inline-block;
    max-width: 180px;
    line-height: 11px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-main__inner {
    display: flex;
    width: 100%;
}

.card-main__inner-city {
    width: 32%;
    text-align: center;
}

.card-main__inner-city-area {
    margin-right: -80px;
    margin-top: -5px;
}

.card-main__inner-city:last-child .card-main__inner-city-area {
    margin-right: 0;
    margin-left: -80px;
}

.card-main__inner-points {
    width: 36%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.inner-points__start {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    background: #021a2b;
    top: -4px;
}

.inner-points__end:before {
    content: '';
    position: absolute;
    top: -5px;
    right: 0px;
    border-left: 6px solid #021a2b;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
}

.inner-points__vehicles {
    text-align: center;
    padding-top: 4px;
    padding-right: 20px;
}

.inner-points__vehicles .fa {
    margin-left: 5px;
    font-size: 14px;
    line-height: 10px;
    position: absolute;
    margin-top: 8px;
    color: #a7a7a7;
}

.inner-points__vehicles_direct {
    width: 100%;
}

.card-main__trip-totaltime {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    padding-top: 18px;
    padding-bottom: 7px;
    color: #021a2b;
}

.inner-points__line {
    width: 100%;
    height: 2px;
    background: #021a2b;
    position: relative;
}

.inner-points__time {
    position: absolute;
    top: 60px;
    width: 200px;
    text-align: center;
    left: -75px;
}

.inner-points__time-value {
    font-weight: 500;
    color: #021a2b;
    line-height: 17px;
    margin-top: 14px;
    font-size: 16px;
}

.inner-points__time-day {
    font-size: 12px;
    font-weight: 300;
    color: #021a2b;
}

.inner-points__time:last-child {
    right: -95px;
    left: auto;
}

.inner-points__time span {
    display: block;
}

.inner-points__carrier-logo {
    display: inline-block;
    width: 34px;
    height: 16px;
    overflow: hidden;
}

.inner-points__carrier-logo img {
    width: 100%;
    margin-top: -3px;
}

.card-side {
    width: 25%;
    padding: 15px 20px;
    position: relative;
}

.card-side__property {
    color: #a7a7a7;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.card-side__property .fa {
    font-size: 20px;
    margin-right: 6px;
    color: #cccccc;
}

.card-side__action {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 10px;
    right: -15px;
}

.card-side__property .vendor-logo {
    width: 20px;
    margin-right: 6px;
}

.card-side__features {
    display: flex;
    width: calc(100% + 15px);
    flex-wrap: wrap;
    flex-direction: row;
    white-space: normal;
    overflow: hidden;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 30px;
    color: #ccc;
}

.card-side__features-item {
    display: inline-block;
    margin-right: 9px;
}

.card-side__features-item_active {
    color: #ffa241;
}

.route-header {
    position: relative;
}

.route-header h1 {
    padding: 36px 50px 0px;
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 38px;
}

.route-header__carousel {
    width: 460px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 23px;
}

.route-header__carousel span {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 300;
}

.route-header__carousel span:not(.route-header__carousel__start), .route-header__carousel .fa {
    cursor: pointer;
}

.route-header__carousel-marker {
    position: absolute;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #fc8000;
    font-size: 11px;
    color: #fff;
    line-height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: -17px;
}

.route-header__carousel-marker:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: all 0.4s;
}

.route-header__carousel__start {
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
}

.route-filter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.route-filter__option {
    width: 20%;
    font-size: 17px;
    font-weight: 300;
    color: #021a2b;
}

.route-filter__option span {
    padding-bottom: 1px;
}

.route-filter__option span.filter-option_selected {
    border-bottom: 2px solid;
}

.route-filter__option span.filter-option_selected:hover {
    border-bottom: 2px solid #9b9c9c;
}

.route-filter__option:hover span, .route-filter__option:hover .fa {
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: all 0.4s;
}

.route-filter__option .fa {
    font-size: 14px;
    margin-left: 5px;
}

.bought-chart-inner-circle {
    display: inline-block;
    background: #fff;
    width: 40px;
    height: 40px;
}

.circle-chart-wrap {
    position: relative;
    margin-top: 5px;
}

.under-chart-circle {
    width: 79px;
    height: 79px;
    position: absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: 10px;
    top: 10px;
}

.circle-chart__line {
    position: absolute;
    width: 48px;
    height: 14px;
    border: 1px dotted #a7a7a7;
    border-bottom: none;
    border-right: none;
    left: 50px;
}

.circle-chart__line:after {
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fc8000;
    right: -3px;
    top: -3px;
}

.circle-chart__info {
    display: inline-block;
    padding-left: 115px;
    position: absolute;
    top: -7px;
    padding-right: 10px;
    z-index: 0;
    line-height: 19px;
    color: #021a2b;
}

.circle-chart__info-perc {
    font-weight: 500;
    color: #00b157;
}

.weather-widget__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.weather-widget__row-item {
    width: 16.66%;
    text-align: center;
    padding: 10px 5px;
}

.weather-widget__row-item span {
    display: block;
}
/*
.weather-widget__row-item__icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../../assets/img/weather_sprite.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 3px;
}*/

.weather-widget__row-item__icon_clouds {
    background-position: 19.5%;
}

.weather-widget__row-item__icon_rain {
    background-position: 39.5%;
}

.weather-widget__row-item__day, .weather-widget__row-item__temp {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.weather-widget__row-item__temp {
    font-weight: 500;
    margin-top: 4px;
}

.weather-widget__row-item__temp sup {
    margin-left: 1px;
    font-size: 10px;
}

.route-map-widget {
    padding: 0 20px 0 15px;
}

.route-map-title {
    text-align: center;
    margin: 0;
    padding: 0 10px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    color: #021a2b;
}

.route-map-subtitle {
    display: block;
    text-align: center;
    margin-top: 6px;
    font-size: 13px;
    padding: 0 10px;
}

.route-map-subtitle b {
    color: #00b157;
}
.passenger-form {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
    border: 3px solid #fafafa;
    border-radius: 5px;
    padding: 10px 0px 30px;
    position: absolute;
    top: -286px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.passenger-form_active {
    visibility: visible;
    position: relative;
    opacity: 1;
    transition: all 1s ease-in-out;
    top: 0;
}
.passenger-input-wrap{
    width: 29% !important;
    margin: 0 2.16%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    height: 80px;
}
.input-passenger-data{
    width: 100% !important;
    margin: 0 2.16%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    height: 80px;
}
.passanger-form-seat{
    position: absolute;
    left: 2%;
    top: 5px;
    font-size: 14px
}
.input-passenger {
    width: 100% !important;
}
